@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-border {
  border: 1px solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
  border-color: rgba(23, 203, 89, 0.5);
  /* box-shadow: 0 0 10px rgba(66, 225, 137, 0.2); */
}

@layer base {

  html,
  body {
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* header height variables */
:root {
  --header-height: 160px;
}

/* Mobile header height adjustment */
@media (max-width: 768px) {
  :root {
    --header-height: 200px;
  }
}

/* Custom Scrollbar for a cleaner premium look */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-15deg);
  }

  100% {
    transform: translateX(200%) skewX(-15deg);
  }
}

.animate-shine {
  animation: shine 3s infinite ease-in-out;
}

/* utility classes for sticky positioning */
.sticky-header-offset {
  top: var(--header-height);
  position: sticky;
}